.menu-burger{
    @media screen and (max-width: 1024px){
        position: fixed;
        top: 4%;
        right: 2%;
        width: 50px;
        height: 50px;
        background: #7a978d;
        border: 1px solid #213375;
        border-radius: 5px;
        z-index: 2;
        cursor: pointer;
        
        &.active{
            border: 1px solid #217559;
            background: #ff4e4e;
        }
        &.active span{
            transform: rotate(20deg);
            transition: 0.3s all ease-in-out;
        }
        & span{
            width: 40px;
            position: absolute;
            top: 23%;
            left: 7%;
            border-bottom: 3px solid #ffffff;
            transition: 0.3s all ease-in-out;
        }
        & span:nth-of-type(2){
            width: 40px;
            position: absolute;
            top: 47%;
            left: 7%;
            border-bottom: 3px solid #ffffff;
        }
        & span:nth-of-type(3){
            width: 40px;
            position: absolute;
            top: 70%;
            left: 7%;
            border-bottom: 3px solid #ffffff;
        }
    }
    
}

nav {
    @media screen and (max-width: 1024px){
        transform: translateY(-100%);
        transition: 0.8s all ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        background: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        opacity: 0.9;
        z-index: 1;

    &.active{
        transform: none;
    }
    & a{
        margin: 20px;
    }
    }

    @include flex($just-cont:space-between);
    padding: 56px 56px;
    position: fixed;
    width: 100%;
    transition:.3s all ease-in-out;
    z-index: 2;
    .nav-logo {
        a {
            font-size: 20px;
            letter-spacing: 3px;
            color: white;
            text-transform: uppercase;
        }
    }
    
    .nav-links {
        @media screen and (max-width: 1024px){
            display: none;
                }
        display: flex;
        justify-content: space-around;
        a {
            padding: 0 5px;
            font-size: 15px;
            color: white;
        }
        .active, a:hover {
            color: $navHoverColor;
        }
    }
}